body {
    font-family: Arial, sans-serif;
      background-image: url('https://play-lh.googleusercontent.com/IELDVz8CXDZuI2v9FlE-hu5xyUnwZL_FdChqsrtYRRFY3c_jGckkvmpK3eW8CSQ_H-I'); 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 90%;
    max-width: 600px;
    background-color: rgba(238, 232, 232, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

  
  h1, h2 {
    text-align: center;
    color: #333333;
  }
  
  .form-section, .attendance-list {
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
